.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: var(--horizontal-space);
}
.screen-header__icons {
  position: relative;
}

.screen-header__notification {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 21px;
  bottom: 17px;
}

.screen-header__notification__dot {
  width: 5px;
  height: 5px;
  left: 70px;
  bottom: 21px;
}
